* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: rgb(248, 246, 246);
} */
/* Navbar related css */

#links {
  background-color: purple;
  
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#links > div {
  display: flex;
  list-style: none;
  margin: auto;
}
#links a {
  text-decoration: none;
  color: white;
  font-size: 28px
}

#submit {
  width: 60%;
  margin: auto;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 9px 10px;
}
/* Navbar related css */

/* Form related css */

input,
select {
  display:block;
  margin: 15px 0px;
  font-size: 16px;
  padding: 2% 3%;
  border: 1px solid black;
  width: 310px;
  border-radius: 5px;
}
option {
  font-size: 22px;
}
form {
  width: 450px;
  border: 1px solid rgb(230, 230, 230);
  margin: 3% auto;
  padding: 4%;
  background: white;
 
  
}

#links>div>img{
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

/* Form related css */